<div style="overflow-x: hidden;">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md fixed-top navigation">
      <a class="navbar-brand" href="#">
        <img src="./../assets/images/logo.png" alt="E-Place Logo" style="width: 125px;background-color: #fff;">
      </a>
      <button class="navbar-toggler" style="background-color: #7e7e7e;" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="nav nav-pills ml-auto">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" data-target="#home" href="#home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" data-target="#about" href="#about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" data-target="#services" href="#services">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" data-target="#contact" href="#contact">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal">LOGIN</a>
          </li>
        </ul> -->
        <!-- <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
        </div> -->
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal">LOGIN</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- <div class="tab-content">
    
  </div> -->
  <div class="bg" id="home">
    <div class="rgba-gradient">
      <div class="container main">
        <div class="row">
          <div class="col-md-6 in-down">
            <h1>GET YOUR SOCIETY FORMS, AADHAR PRINTING & ID/EMERGENCY CARDS</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna</p>
          </div>
          <div class="col-md-6 in-right">
            <div class="container form-bg">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name (Min 6 Chars)">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Address">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone Number">
              </div>
              <div class="form-group">
                <select class="form-control" placeholder="Gender">
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                </select>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password">
              </div>
              <div class="form-group">
                <button type="submit" class="btn">REGISTER</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-1" id="about">
    <div class="container" id="about">
      <div class="row sec-cont">
        <div class="col-md-7 slide">
          <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsa recusandae consequatur veniam,
            reiciendis odit quia eaque vel eius a.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla-mco laboris nisi ut aliquip
            ex
            ea
            commodo consequat. Duis aute irure dolor in

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, aspernatur.</p>
        </div>
        <div class="col-md-5">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./../assets/images/1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./../assets/images/2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./../assets/images/3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container third-cont" id="services">
    <div class="row">
      <h2 class="mx-auto up">We Provide Below Services</h2>
    </div>
    <div class="row">
      <div class="col-md-6 tc">
        <h5>SOCIETY FORM</h5>
        <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
      </div>
      <div class="col-md-6 tc">
        <h5>AADHAR PRINTING</h5>
        <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
      </div>
      <div class="col-md-6 tc">
        <h5>SMART ID CARD</h5>
        <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
      </div>
      <div class="col-md-6 tc">
        <h5>SMART EMERGENCY CARD</h5>
        <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
      </div>
    </div>
  </div>

  <div class="bg-2" id="contact">
    <div class="container up1">
      <h2>Get In Touch</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
      <div class="container">
        <input type="text" class="form-control" placeholder="Your Name">
        <input type="text" class="form-control" placeholder="Email Address">
        <input type="text" class="form-control" placeholder="Phone Number">
        <textarea class="form-control" placeholder="Message"></textarea>
        <button type="submit" class="btn">CONTACT</button>
      </div>
    </div>
  </div>

  <div class="bg-3">
    <div class="container">
      <p>Copyright 2020 © <span style="color: yellow;">Eplace</span> | All right reserved.</p>
      <p>Powered By © <span style="color: yellow;">Miraki Technologies</span></p>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title ml-auto" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="email" class="form-control" placeholder="Email">
        <input type="password" class="form-control" placeholder="Password">
        <a>Forgot Password?</a>
        <br>
        <button type="submit" class="btn mt-3">LOGIN</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>